<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lmroom.gank">

    <application
        android:name="debug.GankApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Base_AppTheme">
        <activity android:name="debug.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
